.reveal .slide-logo {
  height: 15% !important;
  width: auto !important;
  max-width: unset !important;
  max-height: unset !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 14px !important;
  left: 50% !important;
  top: unset !important;
}

